# IDE
.idea/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ico
*.png
icon.py
# Данные
*.csv
!dataset/*.csv  # если хочешь оставить часть
*.zip
*.rar
*.spec

# Системные
.DS_Store
Thumbs.db

build/
dist/
trading_labeler.spec
